.container {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-calculo {
  display: inline-flex;
  flex-direction: column;
}

.box-calculo input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid grey;
  box-shadow: 5px 5px 5px grey;
}

.box-calculo button {
  padding: 8px 5px;
  font-weight: bold;
  border: none;
  background-color: #F9A7B5;
  box-shadow: 5px 5px 5px grey;
  transition: 1s;
  text-transform: uppercase;
  color: #ffffff;
}

.box-calculo button:hover {
  background-color: #FF677B;
  transition: 1s;
  cursor: pointer;
}

.box-resultado {
  display: none;
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  flex-direction: column;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.box-resultado h2 {
  text-shadow: 2px 2px 1px grey;
}

#resultado p {
  margin: 0;
  padding: 10px;
  color: white;
}

#resultado p:nth-child(even) {
  background-color: #F9A7B5;
}

#resultado p:nth-child(odd) {
  background-color: #FF677B;
}
